name: nexus
on:
  push:
    branches: [main, develop, feature/*, refactor/*, bugfix/*, hotfix/*]
jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: make release
        run: make release
      - name: nexus version
        run: ./nexus --version
      - name: nexus init
        run: ./nexus --init
      - name: nexus seed
        run: ./nexus --seed
      - name: nexus start
        run: |
          ./nexus >nexus.log 2>&1 &
